.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 250px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-menu {
  list-style: none;
  padding: 20px 0;
}

.App-menu li {
  display: inline-block;
  padding: 10px 20px;
  color: white;
}

.App-menu li a {
  color: white;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
